<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div Class="d-flex flex-column justify-center align-center">
                    <MudText Typo="Typo.h1">404</MudText>
                    <MudText Typo="Typo.h3">Not found</MudText>
                    <MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Warning">Sorry, there's nothing at this address.</MudAlert>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
